*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 15%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

span{
    color: #f9004d;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

h1{
    font-size: 30pt;
}

img.border{
    border: 5px solid #f9004d;

}

